.content {
    margin: 48px auto;
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(400px, 500px);
    align-items: stretch;
}

.cart {
    padding: 12px 24px;
    border-left: 1px solid rgb(113, 113, 113);
}

.cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    color: rgb(113, 113, 113);
}

.cart-row__info {
    display: flex;
    align-items: center;
    color: rgb(79, 176, 218);

}

.word-units {
    margin-left: 15px;
}

.cart-row__info__units {
    margin-right: 3px;
    color: rgb(74, 74, 74);
}

.cart-row strong {
    font-size: 1.2em;
    color: rgb(74, 74, 74);
}

.cart-row img {
    margin-right: 18px;
    max-width: 120px;
}

.explanatory-text {
    color: rgb(79, 176, 218);
}

.delivery {
    padding: 12px;
}


.zip-code-text {
    color: rgb(74, 74, 74);
    margin-bottom: 5px;
}

.delivery p {
    margin-top: 5px;
}
.delivery label {
    display: block;
    margin-bottom: 3px;
}

.delivery input {
    margin-right: 12px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: rgb(79, 176, 218, 20%);
}

.price-gums {
    color: rgb(74, 74, 74);
}

.total {
    padding-top: 12px;
    border-top: 1px solid rgb(113, 113, 113);
}

.total strong {
    font-size: 1.5em;
    color: rgb(74, 74, 74);
}

button {
    font-size: 0.8em;
    color: rgb(79, 176, 218);
    background-color: rgba(255, 255, 255, 0.4);
   
}

button:hover {
    color: rgb(72, 72, 72);
}